<%- include("template/cabecera", {tituloweb: 'Proyectos'}) %>
<div class="container__project">
    <main class="main_primary">
		<a href="/"><i class="fa-regular fa-address-card"></i>Menu principal</a>
	</main>
    <span class="project_title">
		<h2>Mis proyectos</h2>
	</span>
    <!--Project-->
    <div class="content__project">
        <a target="__BLANK" href="https://cristianz2021.github.io/Cards/">
	  	 <img src="/img/project1.svg">
          <h4><b>Tarjetas de presentacion</b></h4>
	      	<p>
	         Aqui podras ver unas mini tarjetas de mis herramientas de trabajo.
	    	</p>
	  	</a>
    </div>
     <div class="content__project">  
          <a target="__BLANK" href="https://cristianz2021.github.io/website-2.0/">
            <img src="/img/project1.svg">
           <h4><b>La contaminacion</b></h4>
               <p>
                Aqui en este si web podras observar un mini guia sobre la contaminacion y como combatirla.
             </p>
           </a>
      </div>
      <div class="content__project">
           <a target="__BLANK" href="https://app-cripto.herokuapp.com/">
            <img src="/img/project1.svg">
           <h4><b>Criptomonedas</b></h4>
               <p>
                Este proyecto veras informacion sobre las criptomonedas.
             </p>
           </a>
    </div>
</div>
<!--Footer-->
<%- include("template/footer")%>