<!--Footer-->
<footer class="footer">
    <span class="footer__title">
        Cristian Zamora 2022. 
    </span>
    <!--Links--> 
      <main class="footer__links">
    <a target="__BLANK" href="https://github.com/Cristianz2021/" class="git"><i class="fab fa-github"></i></a>
    <a target="__BLANK" href="https://www.linkedin.com/in/cristian-zamora-6bb1aa1b8/" class="linkedin"><i class="fab fa-linkedin"></i></a>
    </main>
    </footer>	
</body>
</html>    