<!--Icon-nav-->
<div class="main_var">
    <i class="fas fa-bars fa-2x icono"></i>
</div>
   <!--Navigation-->
    <div class="nabvar">
     <nav class="nav-main">
      <ul class="nav-main__menu">
       <!--Content_list-->
        <div class="content_lista">
         <li class="lista"><a href="#header"><i class="fa-regular fa-address-card"></i>Sobre mi</a></li>
         <li class="lista"><a href="#hability"><i class="fa-solid fa-code"></i>Habilidades</a></li>
         <li class="lista"><a href="#project"><i class="fas fa-business-time"></i>Proyectos</a></li>
         <li class="lista"><a href="#form"><i class="fa-solid fa-phone"></i>Contacto</a></li>
       </div>
        <!--Links-->
        <div class="lista_links">
         <li class="lista"><a target="__BLANK" href="https://github.com/Cristianz2021/" class="git"><i class="fab fa-github">Cristianz2021</i></li>
         <!--Linkedin-->
          <li class="lista"><a target="__BLANK" href="https://www.linkedin.com/in/cristian-zamora-6bb1aa1b8/" class="linkedin"><i class="fab fa-linkedin">Cristian Zamora</i></a></li>
         </div>
      </ul>
   </nav>
  </div>