<script src="https://kit.fontawesome.com/f43a7df301.js" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/js/typed.js"></script>
<script src="/js/codigo.js"></script>
</body>